.slider {
    position: relative;
    .sliderimg{
        width: 100%;
        height: 22rem;
        object-fit: cover
    }
    .alice-carousel__wrapper {
        border-radius: .25rem;
    }
    .alice-carousel__dots {
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
    @media (max-width: 650px) {
        display: none;
    }
    }
}