$colorFontLessDark: rgb(117, 211, 255);
$colorFontDark: rgb(50, 50, 50);
$colorFontDarker: rgb(25, 25, 25);
$colorFontLighten: rgb(212, 208, 218);
$colorFontLight: rgb(237, 231, 246);
$colorFontLighter: rgb(235, 235, 235);
$colorFontDisabled: rgb(150, 150, 150);
$colorFontDanger: rgb(176, 0, 32);
$colorFontLink: rgb(77, 144, 247);
$colorFontLinked: rgb(54, 117, 203);

$colorBackgroundBlack: rgb(50, 50, 50);
$colorBackgroundBlacker: rgb(25, 25, 25);
$colorBackgroundDark: rgb(30, 140, 255);
$colorBackgroundDarker: rgb(2, 94, 170);
$colorBackgroundVeryDark: rgb(3, 28, 48);
$colorBackgroundLight: rgb(237, 231, 246);
$colorBackgroundLighter: rgb(250, 250, 250);
$colorBackgroundDisabled: rgb(150, 150, 150);
$colorBackgroundDanger: rgb(8, 58, 101);
$colorBackgroundVeryDanger: rgb(6, 33, 55);

$colorBorderLessDark: rgb(117, 211, 255);
$colorBorderDark: rgb(150, 150, 150);
$colorBorderDarker: rgb(25, 25, 25);
$colorBorderLight: rgb(237, 231, 246);
$colorBorderLighter: rgb(235, 235, 235);
$colorBorderDisabled: rgb(200, 200, 200);
$colorBorderDanger: rgb(176, 0, 32);

$fontSizeXL: 1.4rem;
$fontSizeLG: 1.2rem;
$fontSizeMD: 1rem;
$fontSizeSM: 0.875rem;
$fontSizeXS: 0.75rem;

$widthContent: 90vw;