@use "../../styles/scss/variables" as var;

$_width: 100%;

.product-gallery {
    width: var.$widthContent;
    padding: 1rem 0;

    h3 {
        margin-bottom: 0.5rem;
    }

    &__search {
        display: flex;

        :last-child {
            margin-left: auto;
        }

        padding: 1rem 0;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1vw;

        padding: 1rem 0;
    }


    @media (max-width: 1400px) {
        &__cards {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (max-width: 1200px) {
        &__cards {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 992px) {
        &__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 650px) {
        &__search {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1vw;

            div {
                width: 100%;
            }

            :last-child {
                margin-left: 0;
            }
        }

        &__cards {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}